html {
	overflow: hidden;
}

@media all and (max-width: 640px) {
	/* Make the side pane smaller */
	.pane-list {
		width: 100px !important;
	}

	.pane-chat,
	.pane-intro {
		width: auto !important;
	}

	/* Hide unnecessary elements */
	.pane-header,
	.subheader-search,
	.chat-body {
		display: none !important;
	}

	/* `New Conversation` icon */
	._30yy._4kzv {
		display: none !important;
	}
}
